[submodule "assessment-module"]
	path = assessment-module
	url = https://github.com/HaseebUllahAbbasi/assessment-module.git
[submodule "back-end-assessment-module"]
	path = back-end-assessment-module
	url = https://github.com/HaseebUllahAbbasi/back-end-assessment-module.git
[submodule "front-end-assessment-module"]
	path = front-end-assessment-module
	url = https://github.com/HaseebUllahAbbasi/front-end-assessment-module.git
